blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
python-dateutil
pytz
requests
scikit-learn==1.2.2
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
